.itemListItem{
    padding: 10px;
    border: solid .5px white;
}
.itemListItem:hover{
    background-color: #eeeeee;
    border-color: #bbbbbb;
    cursor: pointer;
}
.itemListItem p{
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemControls{
    margin: 5px 0 5px 0;
}
.itemControls button{
    margin-left: 5px;
}